@import './base.css';
body {
    font-family: var(--mainFont);
    background-color: #eee;
}

.menu {
    display: none;
}

.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 20px 0;
    opacity: 0.9;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.header .logo img {
    width: 30px;
}

.header .logo a {
    color: var(--mainColor);
    font-family: Roboto;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header .nav ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.auth a {
    border: 2px solid var(--mainColor);
    font-family: var(--subFont);
    padding: 8px 30px;
    border-radius: 10px;
}

.auth .login {
    color: var(--mainColor);
    font-weight: 700;
}

.auth .register {
    color: #fff;
    background-color: var(--mainColor);
}

/*  start media header */
@media screen and (max-width:992px) {
    .nav,
    .auth {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 50px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }
}

/*  end media header */
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer .row {
    gap: 40px;
}
.footer a {
    color: #fff;
}

.footer-left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: calc((100% - 40px) / 2);
}

.footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.footer-left-side .logo img {
    width: 30px;
}

.footer-left-side a {
    font-family: Roboto;
}

.footer-left-side .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-left-side .icons img {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    padding: 5px;
}

.footer-right-side {
    width: calc((100% - 40px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-right-side .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-right-side .footer-item nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* media footer */
@media screen and (max-width:1200px) {

    .footer-left-side,
    .footer-right-side {
        width: 100%;
    }

    .footer .row {
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .footer-item {
        width: calc(50% - 10px);
    }

    .footer-right-side {
        gap: 10px;
    }
}

@media screen and (max-width:400px) {
    .footer-item {
        width: 100%;
        text-align: center;
    }
}